<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Student App{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Student Management System</h1>
        <nav>
            <a href="{% url 'students:student_list' %}">All Students</a>
            <a href="{% url 'students:student_create' %}">Add Student</a>
        </nav>
        <hr>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
